<!-- <app-sidebar></app-sidebar>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="border-bottom pt-5 mt-2 mb-5">
        <h1 class="mt-2 mt-md-4 mb-3 pt-5">Productos</h1>
        <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
            <p class="text-muted">Este módulo lista todos los productos de la tienda.</p>

        </div>
    </div>

    <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
        <div class="card box-shadow-sm">
            <div class="card-header">
                <h5 style="margin-bottom: 0px;">Registro de producto</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12 form-group">
                                <label for="">Titulo de producto</label>
                                <input type="text" class="form-control" placeholder="Titulo de producto" required
                                    name="titulo" [(ngModel)]="producto.titulo">
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="">Stock</label>
                                <input type="number" class="form-control" placeholder="Cantidad inicial" required
                                    name="stock" [(ngModel)]="producto.stock">
                            </div>
                            <div class="col-lg-4 form-group">
                                <label for="">Precio</label>
                                <input type="number" class="form-control" placeholder="Precio" required name="precio"
                                    [(ngModel)]="producto.precio">
                            </div>

                            <div class="form-group">
                                <label for="proveedor">Proveedor</label>
                                <select class="form-control" id="proveedor" name="proveedor"
                                    [(ngModel)]="producto.proveedor" required>
                                    <option *ngFor="let proveedor of proveedores" [value]="proveedor._id">{{
                                        proveedor.company
                                        }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-4 form-group">
                                <label for="">Categoría</label>
                                <select class="form-control custom-select" id="select-input" required name="categoria"
                                    [(ngModel)]="producto.categoria">
                                    <option value="Categoria 1">Categoria 1</option>
                                    <option value="Categoria 2">Categoria 2</option>
                                    <option value="Categoria 3">Categoria 3</option>
                                    <!-- <option value="" selected disabled>Seleccionar</option>
                                <option value="{{item.titulo}}" *ngFor="let item of config_global.categorias">
                                    {{item.titulo}}</option> -->

<!-- </select>
</div>

<div class="col-lg-12 form-group">
    <label for="">Descripción corta</label>
    <textarea class="form-control" placeholder="Titulo de producto" required rows="5" name="descripcion"
        [(ngModel)]="producto.descripcion"></textarea>
</div>

<div class="col-lg-12 form-group">
    <tinymce [config]="config" name="contenido" [(ngModel)]="producto.contenido"></tinymce>
</div>

</div>
</div>
<div class="col-lg-4">
    <div class="row">
        <div class="col-lg-12 form-group">
            <label for="">Portada</label>
            <div class="custom-file">
                <input class="custom-file-input" type="file" id="file-input" (change)="fileChangeEvent($event)">
                <label class="custom-file-label" id="input-portada" for="file-input"
                    style="white-space:nowrap;overflow:hidden">Seleccionar imagen</label>
            </div>
        </div>
        <div class="col-lg-12">
            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
        </div>
    </div>
</div>
</div>
</div>
<div class="card-footer">
    <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Crear producto</button>
    <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
        <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
        Creando...
    </button>
    <a class="btn btn-warning" [routerLink]="['/panel/productos']" routerLinkActive="router-link-active">Regresar</a>
</div>
</div>
</form>
</main> -->

<app-sidebar></app-sidebar>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Producto</h2>
    </div>
    <!-- create-oferta.component.html -->
    <form [formGroup]="productoForm" (ngSubmit)="registro()">
        <div class="card box-shadow-sm">
            <div class="card-header">
                <h5>Registro</h5>
                <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                    <p class="text-muted">Este formulario recopila información detallada sobre una un producto...</p>
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            <button *ngIf="load_btn" type="button" class="btn btn-sm btn-secondary me-2" disabled>
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                Creando...
                            </button>
                            <button *ngIf="!load_btn" type="button" class="btn btn-sm btn-primary me-2"
                                (click)="registro()">
                                Crear Oferta
                            </button>
                            <button class="btn btn-sm btn-secondary me-2" type="button" (click)="resetForm()">
                                Limpiar
                            </button>
                            <button type="button" class="btn btn-sm btn-warning me-2" [routerLink]="['/panel/ofertas']"
                                routerLinkActive="router-link-active">
                                Regresar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</main>