<app-sidebar></app-sidebar>
<div class="container-fluid py-4">
    <h1>Ofertas</h1>
</div>
<!-- create-oferta.component.html -->
<form [formGroup]="ofertaForm" (ngSubmit)="registro()">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5>Registro de oferta</h5>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                <p class="text-muted">Este formulario recopila información detallada sobre una oferta, como su nombre,
                    estado, descripción, fechas de inicio y
                    finalización, descuento, así como la carga de una imagen representativa de la oferta.</p>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row mb-3">
                <div class="col-md-6 themed-grid-col">
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <!-- Nombre Oferta -->
                            <div class="form-group">
                                <label for="nombre_oferta" class="form-label">Nombre Oferta:</label>
                                <input type="text" id="nombre_oferta" name="nombre_oferta"
                                    formControlName="nombre_oferta" placeholder="Nombre de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="nombre_oferta.invalid && (nombre_oferta.dirty || nombre_oferta.touched)" />
                                <div *ngIf="nombre_oferta.invalid && (nombre_oferta.dirty || nombre_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="nombre_oferta.errors?.['required']">
                                        El nombre de la oferta es obligatorio.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['minlength']">
                                        El nombre de la oferta debe tener al menos 1 carácter.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['maxlength']">
                                        El nombre de la oferta debe tener como máximo 50 caracteres.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['pattern']">
                                        Solo se permiten letras, números, espacios, "ñ" y "Ñ".
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['repeatedTitleError']">
                                        Este nombre de oferta ya existe
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <!-- Estado Oferta -->
                            <div class="form-group">
                                <label for="estado_oferta" class="form-label">Estado Oferta:</label>
                                <div class="form-control-md form-check form-switch form-switch-lg ml-4 mb-5">
                                    <input class="form-check-input" type="checkbox" id="estado_oferta" role="switch"
                                        formControlName="estado_oferta" title="Toggle Category State" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-3">
                        <!-- Descripcion Oferta -->
                        <div class="form-group">
                            <label for="descripcion_oferta" class="form-label">Descripcion Oferta:</label>
                            <textarea class="form-control" placeholder="Descripcion de la oferta"
                                id="descripcion_oferta" required rows="3" name="descripcion_oferta"
                                formControlName="descripcion_oferta" class="form-control form-control-md"
                                [class.is-invalid]="descripcion_oferta.invalid && (descripcion_oferta.dirty || descripcion_oferta.touched)"></textarea>
                            <div *ngIf="descripcion_oferta.invalid && (descripcion_oferta.dirty || descripcion_oferta.touched)"
                                class="invalid-feedback">
                                <div *ngIf="descripcion_oferta.errors?.['required']">
                                    La Descripcion de la oferta es obligatorio.
                                </div>
                                <div *ngIf="descripcion_oferta.errors?.['maxlength']">
                                    La Descripcion de la oferta debe tener como máximo 500 caracteres.
                                </div>
                                <div *ngIf="descripcion_oferta.errors?.['pattern']">
                                    La Descripcion de la oferta solo permite algunos caracteres especiales.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <div class="form-group">
                                <label for="inicio_oferta" class="form-label">Fecha Inicio Oferta:</label>
                                <input type="datetime-local" id="inicio_oferta" name="inicio_oferta"
                                    formControlName="inicio_oferta" placeholder="Inicio de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="inicio_oferta.invalid && (inicio_oferta.dirty || inicio_oferta.touched)" />
                                <div *ngIf="inicio_oferta.invalid && (inicio_oferta.dirty || inicio_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="inicio_oferta.errors?.['required']">
                                        La fecha de inicio de la oferta es obligatoria.
                                    </div>
                                    <div *ngIf="inicio_oferta.errors?.['invalidDateStart<Current']">
                                        La fecha y hora de
                                        inicio de la oferta no puede ser anterior a la fecha actual.
                                    </div>
                                    <div *ngIf="inicio_oferta.errors?.['invalidDateEnd<Start']">
                                        Error en la fecha y hora final, no puede ser anterior a la fecha inicial.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <div class="form-group">
                                <label for="fin_oferta" class="form-label">Fecha Fin Oferta:</label>
                                <input type="datetime-local" id="fin_oferta" name="fin_oferta"
                                    formControlName="fin_oferta" placeholder="Vencimiento de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="fin_oferta.invalid && (fin_oferta.dirty || fin_oferta.touched)" />
                                <div *ngIf="fin_oferta.invalid && (fin_oferta.dirty || fin_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="fin_oferta.errors?.['required']">La fecha de finalización de la oferta
                                        es obligatoria.</div>
                                    <div *ngIf="fin_oferta.errors?.['noStartDate']">La fecha de inicio de la oferta es
                                        requerida.</div>
                                    <div *ngIf="fin_oferta.errors?.['invalidDateEnd<Current']">La fecha y hora de final
                                        de la oferta no puede ser anterior a la fecha actual.</div>
                                    <div *ngIf="fin_oferta.errors?.['invalidDateEnd<Start']">La fecha y hora de final de
                                        la oferta no puede ser anterior a la fecha inicial.</div>
                                    <div *ngIf="fin_oferta.errors?.['invalidDateStart<Current']">
                                        Error en la fecha y hora inicial, no puede ser anterior a la fecha actual.</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <!-- Descuento Oferta Oferta -->
                            <div class="form-group">
                                <label for="descuento_oferta" class="form-label">Descuento por Oferta:</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="number" id="descuento_oferta" name="descuento_oferta"
                                            formControlName="descuento_oferta" placeholder="Descuento"
                                            class="form-control form-control-md"
                                            [class.is-invalid]="descuento_oferta.invalid && (descuento_oferta.dirty || descuento_oferta.touched)"
                                            (keypress)="restrictInput($event)" (input)="limitInputLength($event)" />
                                        <div *ngIf="descuento_oferta.invalid && (descuento_oferta.dirty || descuento_oferta.touched)"
                                            class="invalid-feedback">
                                            <div *ngIf="descuento_oferta.errors?.['required']">El descuento de la oferta
                                                es obligatorio.</div>
                                            <div *ngIf="descuento_oferta.errors?.['invalidDiscount']">
                                                El descuento de la oferta no puede ser cero.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <div class="form-group">
                                <label for="nivel_oferta">Nivel Oferta:</label>
                                <select id="nivel_oferta" name="nivel_oferta" formControlName="nivel_oferta"
                                    class="form-select form-control" aria-label="categorias disponibles"
                                    [class.is-invalid]="nivel_oferta.invalid && (nivel_oferta.dirty || nivel_oferta.touched)">
                                    <option selected disabled>Select Nivel Oferta</option>
                                    <option *ngFor="let nivel of niveles" [value]="nivel._id">
                                        {{ nivel.nombre_oferta }}
                                    </option>
                                </select>
                                <div *ngIf="nivel_oferta.invalid && (nivel_oferta.dirty || nivel_oferta.touched)"
                                    class="invalid-feedback">
                                    <div
                                        *ngIf="nivel_oferta.errors?.['required'] || (nivel_oferta.value === '' || nivel_oferta.value === 'Select Nivel Oferta')">
                                        Este campo es obligatorio.
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-6 themed-grid-col">
                    <!-- Oferta Oferta -->
                    <div class="form-group">
                        <label for="file-input">Portada Oferta:</label>
                        <input type="file" id="file-input" formControlName="portada_oferta"
                            class="form-control form-control-md" (change)="fileChangeEvent($event)"
                            [class.is-invalid]="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)" />
                        <div *ngIf="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)"
                            class="invalid-feedback">
                            <div *ngIf="portada_oferta.errors?.['required']">
                                La portada_oferta de la oferta es obligatoria.
                            </div>
                            <div *ngIf="portada_oferta.value && portada_oferta.errors?.['invalidFileType']">
                                El archivo debe ser una imagen (png, jpeg, jpg, gif, webp).
                            </div>
                            <div *ngIf="portada_oferta.value && portada_oferta.errors?.['invalidFileSize']">
                                La imagen no puede superar los 4MB.
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <img [src]="imageUrl" class="img-fluid" alt="imgPortada"
                            [ngClass]="{'invalid-feedback border border-danger': portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)}" />

                        <div *ngIf="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)"
                            class="error-icon d-flex justify-content-center align-items-center" style="height: 80vh;">
                            <svg xmlns="http://www.w3.org/2000/svg" height="300" fill="none" stroke="#ff4242"
                                viewBox="0 0 12 12">
                                <circle cx="6" cy="6" r="4.5" />
                                <path stroke-linejoin="round" d="M5.8 3.6h.4L6 6.5z" />
                                <circle cx="6" cy="8.2" r=".6" fill="#ff4242" stroke="none" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-grid gap-2 d-md-block">
                    <button *ngIf="load_btn" type="button" class="btn btn-secondary mr-2" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        Creando...
                    </button>
                    <button *ngIf="!load_btn" type="button" class="btn btn-sm btn-primary mr-2" (click)="registro()">
                        Crear Oferta
                    </button>
                    <button class="btn btn-secondary mr-2" type="button" (click)="resetForm()">
                        Limpiar
                    </button>
                    <button type="button" class="btn btn-warning mr-2" [routerLink]="['/panel/ofertas']"
                        routerLinkActive="router-link-active">
                        Regresar
                    </button>
                </div>
            </div>

        </div>


    </div>

</form>