<app-sidebar></app-sidebar>
<div class="container-fluid py-4">
    <h1>Ofertas</h1>
</div>
<!-- create-oferta.component.html -->
<form [formGroup]="ofertaForm" (ngSubmit)="registro()">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5>Registro de oferta</h5>
            <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
                <p class="text-muted"> escribe aqui la descripcion del siguiente modulo</p>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row mb-3">
                <div class="col-md-6 themed-grid-col">
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <!-- Nombre Oferta -->
                            <div class="form-group">
                                <label for="nombre_oferta" class="form-label">Nombre Oferta:</label>
                                <input type="text" id="nombre_oferta" name="nombre_oferta"
                                    formControlName="nombre_oferta" placeholder="Nombre de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="nombre_oferta.invalid && (nombre_oferta.dirty || nombre_oferta.touched)" />
                                <div *ngIf="nombre_oferta.invalid && (nombre_oferta.dirty || nombre_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="nombre_oferta.errors?.['required']">
                                        Este campo es obligatorio.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['minlength']">
                                        Este campo debe tener al menos 1 carácter.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['maxlength']">
                                        Este campo debe tener como máximo 50 caracteres.
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['pattern']">
                                        Solo se permiten letras, números, espacios, "ñ" y "Ñ".
                                    </div>
                                    <div *ngIf="nombre_oferta.errors?.['repeatedTitleError']">
                                        Este nombre de oferta ya existe
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <!-- Estado Oferta -->
                            <div class="form-group">
                                <label for="estado_oferta" class="form-label">Estado Oferta:</label>
                                <div class="form-control-md form-check form-switch form-switch-lg ml-4 mb-5">
                                    <input class="form-check-input" type="checkbox" id="estado_oferta" role="switch"
                                        formControlName="estado_oferta" title="Toggle Category State" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-3">
                        <!-- Descripcion Oferta -->
                        <div class="form-group">
                            <label for="descripcion_oferta" class="form-label">Descripcion Oferta:</label>
                            <textarea class="form-control" placeholder="Descripcion de la oferta"
                                id="descripcion_oferta" required rows="3" name="descripcion_oferta"
                                formControlName="descripcion_oferta" class="form-control form-control-md"
                                [class.is-invalid]="descripcion_oferta.invalid && (descripcion_oferta.dirty || descripcion_oferta.touched)"></textarea>
                            <div *ngIf="descripcion_oferta.invalid && (descripcion_oferta.dirty || descripcion_oferta.touched)"
                                class="invalid-feedback">
                                <div *ngIf="descripcion_oferta.errors?.['required']">
                                    Este campo es obligatorio.
                                </div>
                                <div *ngIf="descripcion_oferta.errors?.['maxlength']">
                                    Este campo debe tener como máximo 500 caracteres.
                                </div>
                                <div *ngIf="descripcion_oferta.errors?.['pattern']">
                                    Algun caracter es invalido.
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <div class="form-group">
                                <label for="inicio_oferta" class="form-label">Fecha Inicio Oferta:</label>
                                <input type="datetime-local" id="inicio_oferta" name="inicio_oferta"
                                    formControlName="inicio_oferta"
                                    placeholder="inicio_oferta de la oferta de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="inicio_oferta.invalid && (inicio_oferta.dirty || inicio_oferta.touched)" />
                                <div *ngIf="inicio_oferta.invalid && (inicio_oferta.dirty || inicio_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="inicio_oferta.errors?.['required']">
                                        La fecha de inicio de la oferta es obligatoria.
                                    </div>
                                    <div *ngIf="inicio_oferta.errors?.['invalidDateTime']">
                                        La fecha de la oferta es inválida.
                                    </div>
                                    <div *ngIf="inicio_oferta.errors?.['invalidStartDate']">
                                        La fecha de inicio la oferta es inválida.
                                    </div>
                                    <div *ngIf="inicio_oferta.errors?.['noStartDate']">
                                        La fecha de inicio de la oferta es requerida
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <div class="form-group">
                                <label for="fin_oferta" class="form-label">Fecha Fin Oferta:</label>
                                <input type="datetime-local" id="fin_oferta" name="fin_oferta"
                                    formControlName="fin_oferta" placeholder="Vencimiento de la oferta de la oferta"
                                    class="form-control form-control-md"
                                    [class.is-invalid]="fin_oferta.invalid && (fin_oferta.dirty || fin_oferta.touched)" />
                                <div *ngIf="fin_oferta.invalid && (fin_oferta.dirty || fin_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="fin_oferta.errors?.['required']">
                                        La fecha de vencimiento de la oferta es obligatoria.
                                    </div>
                                    <div *ngIf="fin_oferta.errors?.['invalidDateTime']">
                                        La fecha de finalización de la oferta es inválida.
                                    </div>
                                    <div *ngIf="fin_oferta.errors?.['invalidEndDate-CurrentDate']">
                                        La fecha de finalización de la oferta es inválida.
                                    </div>
                                    <div *ngIf="fin_oferta.errors?.['invalidEndDate-startDate']">
                                        La fecha de finalización de la oferta es inválida.
                                    </div>
                                    <div *ngIf="fin_oferta.errors?.['noStartDate']">
                                        La fecha de inicio de la oferta es requerida
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 themed-grid-col">
                            <!-- Descuento Oferta Oferta -->
                            <div class="form-group">
                                <label for="descuento_oferta" class="form-label">Descuento por Oferta:</label>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">%</span>
                                        </div>
                                        <input type="number" id="descuento_oferta" name="descuento_oferta"
                                            formControlName="descuento_oferta" placeholder="Descuento de la oferta"
                                            class="form-control form-control-md"
                                            [class.is-invalid]="descuento_oferta.invalid && (descuento_oferta.dirty || descuento_oferta.touched)"
                                            (keypress)="restrictInput($event)" (input)="limitInputLength($event)" />
                                        <div *ngIf="descuento_oferta.invalid && (descuento_oferta.dirty || descuento_oferta.touched)"
                                            class="invalid-feedback">
                                            <div *ngIf="descuento_oferta.errors?.['required']">El descuento de la oferta
                                                es obligatorio.</div>
                                            <div *ngIf="descuento_oferta.errors?.['invalidDiscount']">
                                                El descuento de la oferta no puede ser cero.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 themed-grid-col">
                            <!-- Oferta Oferta -->
                            <div class="form-group">
                                <label for="file-input">Portada Oferta:</label>
                                <input type="file" id="file-input" formControlName="portada_oferta"
                                    class="form-control form-control-md" (change)="fileChangeEvent($event)"
                                    [class.is-invalid]="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)" />
                                <div *ngIf="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)"
                                    class="invalid-feedback">
                                    <div *ngIf="portada_oferta.errors?.['required']">
                                        La portada_oferta de la oferta es obligatoria.
                                    </div>
                                    <div *ngIf="portada_oferta.value && portada_oferta.errors?.['invalidFileType']">
                                        El archivo debe ser una imagen (png, jpeg, jpg, gif, webp).
                                    </div>
                                    <div *ngIf="portada_oferta.value && portada_oferta.errors?.['invalidFileSize']">
                                        La imagen no puede superar los 4MB.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 themed-grid-col">

                    <!-- Visualizador portada_oferta oferta Oferta -->
                    <img [src]="imageUrl" class="img-thumbnail" alt="imgPortada"
                        [ngClass]="{'invalid-feedback border border-danger': portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)}" />
                    <!-- Ajustamos el estilo de la imagen -->
                    <div *ngIf="portada_oferta.invalid && (portada_oferta.dirty || portada_oferta.touched)"
                        class="error-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="300" fill="none" stroke="#ff4242"
                            viewBox="0 0 12 12">
                            <circle cx="6" cy="6" r="4.5" />
                            <path stroke-linejoin="round" d="M5.8 3.6h.4L6 6.5z" />
                            <circle cx="6" cy="8.2" r=".6" fill="#ff4242" stroke="none" />
                        </svg>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col themed-grid-col">
                <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                    Creando...
                </button>
                <button *ngIf="!load_btn" type="button" class="btn btn-sm btn-primary" (click)="registro()">Crear
                    Oferta</button>
            </div>

            <div class="col themed-grid-col">
                <button class="btn btn-secondary" type="button" (click)="resetForm()">Reset</button>
            </div>
            <div class="col themed-grid-col">
                <button type="button" class="btn btn-warning" [routerLink]="['/panel/ofertas']"
                    routerLinkActive="router-link-active">Regresar</button>
            </div>
        </div>
    </div>
</form>