.form-check-input {
    clear: left;
}

.form-switch.form-switch-lg {
    margin-bottom: 1.5rem;
}

.form-switch.form-switch-lg .form-check-input {
    height: 2rem;
    width: calc(3rem + 0.75rem);
    border-radius: 4rem;
}



.rounded-box {
    position: block;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -o-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -moz-border-radius: .25rem;
    padding: 10px;
    outline: 0.5px solid #ccc;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    border-radius: .25rem;
}


.svg-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.error-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Media query for small screens (e.g., smartphones) */
@media (max-width: 767px) {

    /* .svg-preview {
        width: auto;
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 300px;
    } */


}

/* Media query for tablets (e.g., iPads) */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Styles for tablets */
}

/* Media query for desktop screens */
@media (min-width: 1024px) {
    /* Styles for desktop screens */
}