<app-sidebar></app-sidebar>
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Categorias</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo lista todos los categorias de la tienda.</p>

    </div>
</div>

<form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5 style="margin-bottom: 0px;">Registro de categoria</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Titulo de categoria</label>
                            <input type="text" class="form-control" placeholder="Titulo de categoria" required
                                name="titulo" [(ngModel)]="categoria.titulo">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="">icono</label>
                            <input type="text" class="form-control" placeholder="icono" required name="titulo"
                                [(ngModel)]="categoria.icono">
                        </div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="fin_oferta" class="form-label">Fecha nacimiento</label>
                    <input class="form-control" type="date" placeholder="fin_oferta" id="fin_oferta" name="fin_oferta"
                        [(ngModel)]="categoria['fin_oferta']" #fin_oferta="ngModel"
                        [ngClass]="{ 'is-invalid': categoriaForm.submitted && fin_oferta.invalid }" required />
                    <div *ngIf="categoriaForm.submitted && fin_oferta.invalid" class="invalid-feedback">
                        <div *ngIf="fin_oferta.errors?.['required']">Fecha nacimiento is required</div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 form-group">
                            <label for="">Portada De La Oferta</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="file-input"
                                    (change)="fileChangeEvent($event)">
                                <label class="custom-file-label" id="input-img_oferta" for="file-input"
                                    style="white-space:nowrap;overflow:hidden">Seleccionar imagen</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Crear categoria</button>
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                Creando...
            </button>
            <a class="btn btn-warning" [routerLink]="['/panel/categorias']"
                routerLinkActive="router-link-active">Regresar</a>
        </div>
    </div>
</form>