<app-sidebar></app-sidebar>
<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Clientes</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo agrega clientes nuevos mediante correo directo a la tienda, solo modo
            Administrador.</p>
    </div>
</div>

<form name="clienteForm" (ngSubmit)="registro()" #clienteForm="ngForm" novalidate>
    <div class="card box-shadow-sm">
        <div class="card-header">
            <h5>Registro de cliente</h5>
        </div>
        <div class="card-body">
            <div class="form-row">

                <div class="col-md-4 form-group">
                    <label for="nombres" class="form-label">Nombres</label>
                    <input class="form-control" type="text" name="nombres" placeholder="nombres" id="nombres"
                        [(ngModel)]="cliente['nombres']" #nombres="ngModel" maxlength="25" pattern="^[a-zA-Z0-9\sñÑ]+$"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && nombres.invalid }" required>
                    <div *ngIf="clienteForm.submitted && nombres.invalid" class="invalid-feedback">
                        <div *ngIf="clienteForm.submitted && nombres.invalid" class="invalid-feedback">
                            <div *ngIf="nombres.errors?.['required']">name is required</div>
                            <div *ngIf="nombres.errors?.['pattern']">Only characters are allowed</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="apellidos" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" name="apellidos" placeholder="apellidos" id="apellidos"
                        [(ngModel)]="cliente['apellidos']" #apellidos="ngModel" maxlength="25"
                        pattern="^[a-zA-Z0-9\sñÑ]+$"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && apellidos.invalid }" required>
                    <div *ngIf="clienteForm.submitted && apellidos.invalid" class="invalid-feedback">
                        <div *ngIf="apellidos.errors?.['required']">Nombres is required</div>
                        <div *ngIf="apellidos.errors?.['pattern']">Only characters
                            are allowed</div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="email" class="form-label">Correo electrónico</label>
                    <input class="form-control" type="text" name="email" placeholder="email"
                        [(ngModel)]="cliente['email']" #email="ngModel"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && email.invalid }" required
                        pattern="[a-zA-Z0-9._%\+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                        title="Email must be a valid email address">
                    <div *ngIf="clienteForm.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors?.['required']">Email is required</div>
                        <div *ngIf="email.errors?.['pattern']">Email must be a valid email address</div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="f_nacimiento" class="form-label">Fecha nacimiento</label>
                    <input class="form-control" type="date" placeholder="f_nacimiento" id="f_nacimiento"
                        name="f_nacimiento" [(ngModel)]="cliente['f_nacimiento']" #f_nacimiento="ngModel"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && f_nacimiento.invalid }" required />
                    <div *ngIf="clienteForm.submitted && f_nacimiento.invalid" class="invalid-feedback">
                        <div *ngIf="f_nacimiento.errors?.['required']">Fecha nacimiento is required</div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input class="form-control" type="tel" placeholder="Telefono" name="phone" id="phone"
                        [(ngModel)]="cliente['telefono']" #telefono="ngModel"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && telefono.invalid }" maxlength="25"
                        pattern="^[0-9+]+$" required>
                    <div *ngIf="clienteForm.submitted && telefono.invalid" class="invalid-feedback">
                        <div *ngIf="telefono.errors?.['required']">phone number is required</div>
                        <div *ngIf="telefono.errors?.['pattern']">Only characters are allowed</div>
                    </div>
                </div>

                <div class="col-md-4 form-group">
                    <label for="dni" class="form-label">Identifacion</label>
                    <input class="form-control" type="text" placeholder="dni" name="dni" id="dni" maxlength="15"
                        pattern="^[a-zA-Z0-9]+$" [(ngModel)]="cliente['dni']" #dni="ngModel"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && dni.invalid }" required>
                    <div *ngIf="clienteForm.submitted && dni.invalid" class="invalid-feedback">
                        <div *ngIf="dni.errors?.['required']">Numero de identificion is required</div>
                        <div *ngIf="dni.errors?.['pattern']">Only characters are allowed</div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="genero" class="form-label">Genero</label>
                    <select class="form-control custom-select" name="genero" title="genero"
                        [(ngModel)]="cliente['genero']" #genero="ngModel"
                        [ngClass]="{ 'is-invalid': clienteForm.submitted && genero.invalid }" required>
                        <option value="" disabled selected>Seleccionar</option>
                        <option value="Femenino">Femenino</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Otro">Otro</option>
                    </select>
                    <div *ngIf="clienteForm.submitted && genero.invalid" class="invalid-feedback">
                        <div *ngIf="genero.errors?.['required']">genero is required</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer">
        <button class="btn btn-primary mr-3" type="submit">Registrar cliente</button>
        <button class="btn btn-secondary mr-3" type="reset">Reset</button>
        <a [routerLink]="['/panel/clientes']" class="btn btn-warning">Regresar</a>
    </div>
</form>