<app-sidebar></app-sidebar>

<div class="container-fluid mt-6">
    <h1>Subcategorías</h1>
</div>

<div class="card box-shadow-sm">
    <div class="card-header">
        <div class="row mb-3 text-center">
            <div class="col-md-12 themed-grid-col">
                <p class="text-muted  text-left">
                    Esta sección proporciona información sobre un módulo que lista todas
                    las subcategorías de la tienda.
                </p>
            </div>
            <div class="col-md-8 themed-grid-col mb-2">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="nombre de la oferta" name="filtro"
                        [(ngModel)]="filtro">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" (click)="filtrar()">Filtrar</button>
                        <button class="btn btn-info" type="button" (click)="resetar()">Resetear</button>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 themed-grid-col">
                <a class="btn btn-outline-primary" [routerLink]="['/panel/subcategorias/registro']">
                    Registrar Subcategoria
                    <i aria-label="button registrar" tabindex="-1" role="button" aria-disabled="true">
                    </i>
                </a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th class="centered-content" style="cursor: pointer;" (click)="sort('nombre_subcategoria')">
                            Nombre↑↓</th>
                        <th class="centered-content" style="cursor: pointer;" (click)="sortCategory()">
                            Categoria↑↓
                        </th>
                        <th class="centered-content" style="cursor: pointer;" (click)="sortOffer()">
                            Ofertas↑↓
                        </th>
                        <th class="centered-content" style="cursor: pointer;" (click)="sort('estado_subcategoria')">
                            Estado↑↓</th>
                        <th class="centered-content" style="cursor: pointer;" (click)="sort('createdAt')">Creado↑↓</th>
                        <th class="centered-content" style="cursor: pointer;" (click)="sort('updatedAt')">Editado↑↓</th>
                        <th class="centered-content">Acciones</th>
                    </tr>
                </thead>

                <tbody *ngIf="load_data">
                    <tr>
                        <td class="text-center" colspan="7">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <ng-container *ngIf="!load_data">
                    <tbody
                        *ngFor="let item of subcategorias| slice: (page-1)*pageSize : (page-1) * pageSize + pageSize">
                        <tr>
                            <td class="centered-content" [routerLink]="['/panel/subcategorias', item._id]"
                                style="cursor: pointer; white-space: nowrap;">{{item.nombre_subcategoria}}
                            </td>
                            <td class="centered-content"
                                [routerLink]="['/panel/categorias', item.categoria_subcategoria._id]"
                                style="cursor: pointer; white-space: nowrap;">
                                {{ item.categoria_subcategoria.nombre_categoria }}
                            </td>
                            <td class="centered-content" style="cursor: pointer; white-space: nowrap;">
                                <ng-container *ngIf="item.ofertas_subcategoria.length; else noOffers">
                                    <ng-container *ngFor="let oferta_subcategoria of item.ofertas_subcategoria">
                                        <div>
                                            <a [routerLink]="['/panel/ofertas', oferta_subcategoria._id]">
                                                {{ oferta_subcategoria.nombre_oferta }}
                                            </a>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <ng-template #noOffers>
                                    <div>sin oferta</div>
                                </ng-template>
                            </td>

                            <td class="centered-content" style="cursor: pointer; white-space: nowrap;">
                                <span class="badge"
                                    [ngClass]="{'text-bg-success': item.estado_subcategoria === 'activo', 'text-bg-danger': item.estado_subcategoria === 'inactivo'}">{{
                                    item.estado_subcategoria === 'activo' ? 'Activo' : 'Inactivo' }}</span>
                            </td>

                            <!-- Formatear item.createdAt -->
                            <td class="centered-content" style="cursor: pointer; white-space: nowrap;">{{ item.createdAt
                                | date:'yyyy-MM-dd HH:mm:ss' }}</td>

                            <!-- Formatear item.updatedAt -->
                            <td class="centered-content" style="cursor: pointer; white-space: nowrap;">{{ item.updatedAt
                                | date:'yyyy-MM-dd HH:mm:ss' }}</td>

                            <td class="centered-content">
                                <div class="btn-group d-flex">
                                    <a class="btn-warning d-flex align-items-center btn-icon-custom p-1 mr-2"
                                        [routerLink]="['/panel/subcategorias', item._id]">
                                        <img src="../assets/svgs/btn-icon-edit.svg" alt="edit icon" title="edit"
                                            class="me-2" />
                                    </a>
                                    <a class="btn-danger d-flex align-items-center btn-icon-custom p-1"
                                        style="cursor: pointer;" data-bs-toggle="modal"
                                        [attr.data-bs-target]="'#delete-' + item._id">
                                        <img src="../assets/svgs/btn-icon-trash.svg" alt="delete icon" title="delete"
                                            class="me-2" />
                                    </a>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="delete-{{item._id}}" tabindex="-1"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered  modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteModalLabel">Confirmación de
                                                    eliminación</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Deseas eliminar {{item.nombre_subcategoria}}?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button *ngIf="!load_btn" class="btn btn-danger btn-shadow btn-sm"
                                                    (click)="eliminar(item._id)" type="button">Si,
                                                    eliminar</button>
                                                <button *ngIf="load_btn" type="button" class="btn btn-primary" disabled>
                                                    <span class="spinner-grow spinner-grow-sm mr-2" role="status"
                                                        aria-hidden="true"></span>
                                                    Eliminando...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </ng-container>

            </table>
            <!-- No Records Found -->
            <ng-container *ngIf="!load_data && subcategorias.length === 0">
                <h3 class="text-center">No se encontró registro</h3>
                <div class="row">
                    <div class="col-3 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="#ff4242"
                            class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                            <path
                                d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                            <path
                                d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                        </svg>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
    <div class="card-footer">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="subcategorias.length"></ngb-pagination>
    </div>
</div>