<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
    <h1 class="mt-2 mt-md-4 mb-3 pt-5">Categorias</h1>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
        <p class="text-muted">Este módulo actualiza categorias de la tienda, además de editar la oferta de la categoria.
        </p>
    </div>
</div>

<ng-container *ngIf="categoria !== undefined">
    <form name="updateForm" (ngSubmit)="actualizar()" #updateForm="ngForm">
        <div class="card box-shadow-sm">
            <div class="card-header">
                <h5>Actualiza categoria</h5>
            </div>
            <div class="card-body">
                <div class="form-row">

                    <!-- titulo categoria field -->
                    <div class="col-md-12 form-group">
                        <label for="titulo" class="form-label">Categoria:</label>
                        <input class="form-control" type="text" name="titulo" placeholder="titulo" id="titulo"
                            [(ngModel)]="categoria['titulo']" #titulo="ngModel" maxlength="25"
                            pattern="^[a-zA-Z0-9\sñÑ]+$"
                            [ngClass]="{ 'is-invalid': updateForm.submitted && titulo.invalid }" required>
                        <div *ngIf="updateForm.submitted && titulo.invalid" class="invalid-feedback">
                            <div *ngIf="titulo.errors?.['required']">titulo es obligatorio</div>
                            <div *ngIf="titulo.errors?.['pattern']">Only characters are allowed</div>
                        </div>
                    </div>

                    <!-- icono categoria field -->
                    <div class="col-md-6 form-group">
                        <label class="form-label" for="icono">Icono:</label>
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" name="icono" [(ngModel)]="categoria['icono']"
                                #icono="ngModel" (ngModelChange)="validateSvgCode()"
                                placeholder="Pega el código SVG aquí"
                                [ngClass]="{ 'is-invalid': updateForm.submitted && icono.invalid || showInvalidSvg }"
                                required />
                            <div class="input-group-text">
                                <div [innerHTML]="sanitizedSvgCode" *ngIf="showViewer"></div>
                            </div>
                            <div *ngIf="showInvalidSvg || (updateForm.submitted && icono.invalid)"
                                class="invalid-feedback">
                                <div *ngIf="icono.errors?.['required']">El icono es obligatorio.</div>
                                <div *ngIf="showInvalidSvg">El código SVG ingresado no es válido.</div>
                            </div>
                        </div>
                    </div>

                    <!-- estado categoria field -->
                    <div class=" col-md-6 form-group">
                        <label for="estado" class="form-label">Estado:</label>
                        <select class="form-control custom-select" name="estado" title="estado"
                            [(ngModel)]="categoria['estado']" #estado="ngModel"
                            [ngClass]="{ 'is-invalid': updateForm.submitted && estado.invalid }" required>
                            <option value="" disabled selected>Disponibilidad</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                        <div *ngIf="updateForm.submitted && estado.invalid" class="invalid-feedback">
                            <div *ngIf="estado.errors?.['required']">estado es obligatorio</div>
                        </div>
                    </div>

                    <!-- oferta categoria field -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="oferta" class="form-label">Oferta:</label>
                            <select class="form-select custom-select" name="oferta" title="oferta"
                                [(ngModel)]="categoria['oferta']" #oferta="ngModel"
                                [ngClass]="{ 'is-invalid': updateForm.submitted && oferta.invalid }"
                                (ngModelChange)="ofertaInactive()" required>
                                <option value="" disabled selected>oferta</option>
                                <option value=1>Activo</option>
                                <option value=0>Inactivo</option>
                            </select>
                            <div *ngIf="updateForm.submitted && oferta.invalid" class="invalid-feedback">
                                <div *ngIf="oferta.errors?.['required']">oferta es obligatorio</div>
                            </div>
                        </div>

                        <!-- Descuento Oferta field -->
                        <div class="form-group">
                            <label for="descuento_oferta" class="form-label">Descuento Oferta:</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-label="descuento" name="descuento_oferta"
                                    placeholder="descuento" id="descuento_oferta"
                                    [(ngModel)]="categoria['descuento_oferta']" #descuento_oferta="ngModel"
                                    [ngClass]="{ 'is-invalid': (updateForm.submitted && descuento_oferta.invalid) || showNotificationError }"
                                    (keypress)="restrictInput($event)" (input)="limitInputLength($event)"
                                    autocomplete="off" (ngModelChange)="applyDiscountRange()" required
                                    [disabled]="isOfertaInactive">
                                <!-- Disable based on isOfertaInactive -->
                                <span class="input-group-text">% Discount</span>
                                <div *ngIf="(updateForm.submitted && descuento_oferta.invalid) || showNotificationError"
                                    class="invalid-feedback">
                                    <div *ngIf="descuento_oferta.errors?.['required']">descuento oferta es obligatorio.
                                    </div>
                                    <div *ngIf="showNotificationError">descuento oferta no puede ser 0.</div>
                                </div>
                            </div>
                        </div>

                        <!-- Fecha Fin Oferta field -->
                        <div class="form-group">
                            <label for="fin_oferta" class="form-label">Oferta expira:</label>
                            <input class="form-control" type="date" placeholder="fin_oferta" id="fin_oferta"
                                name="fin_oferta" [(ngModel)]="categoria['fin_oferta']" #fin_oferta="ngModel"
                                [ngClass]="{ 'is-invalid': updateForm.submitted && fin_oferta.invalid }" required
                                [disabled]="isOfertaInactive">
                            <div *ngIf="updateForm.submitted && fin_oferta.invalid" class="invalid-feedback">
                                <div *ngIf="fin_oferta.errors?.['required']">Fecha fin de oferta es obligatorio</div>
                            </div>
                        </div>

                        <!-- Fecha editado categoria field -->
                        <div class="form-group">
                            <label for="updatedAt" class="form-label">Ultima actualizacion:</label>
                            <input class="form-control" type="text" placeholder="updatedAt" id="updatedAt"
                                name="updatedAt" [value]="formatDate(categoria['updatedAt'])" readonly>
                        </div>

                        <!-- Fecha creado categoria field -->
                        <div class="form-group">
                            <label for="createdAt" class="form-label">Creado:</label>
                            <input class="form-control" type="text" placeholder="createdAt" id="createdAt"
                                name="createdAt" [value]="formatDate(categoria['createdAt'])" readonly>
                        </div>

                    </div>


                    <!-- Portada categoria field -->
                    <div class="col-md-6 form-group">
                        <div class="col-lg-12 form-group">
                            <label for="">Portada De La Oferta</label>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" id="file-input"
                                    (change)="fileChangeEvent($event)" name="portada" [disabled]="isOfertaInactive"
                                    required>
                                <label class="custom-file-label" id="input-img_oferta" for="file-input"
                                    style="white-space:nowrap;overflow:hidden">{{ labelSelectImagen }}</label>
                            </div>
                            <div *ngIf="!isOfertaInactive" class="invalid-feedback">
                                Portada es obligatoria
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <img [src]="imgSelect" class="img-thumbnail" alt="Rounded image">
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="card-footer">
            <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="submit">Actualizar categoria</button>
            <button *ngIf="load_btn" type="button" class="btn btn-secondary" disabled>
                <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
                Actualizado...
            </button>
            <button class="btn btn-secondary mr-3" type="button" (click)="resetForm()">Reset</button>
            <a class="btn btn-warning" [routerLink]="['/panel/categorias']"
                routerLinkActive="router-link-active">Regresar</a>
        </div>
    </form>
</ng-container>

<ng-container *ngIf="categoria === undefined">
    <h3 class="text-center">No se encontró registro</h3>
    <div class="row">
        <div class="col-3 mx-auto">
            <img src="assets/img/warning.png" alt="" />
        </div>
    </div>
</ng-container>